.index-imgs{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 450px;
        height: 300px;
    }
    @include media-query-tablet(){
        display: none;
    }
    @include media-query-mobile(){
        display: none;
    }
}

.info-free{
    background-color: var(--main-color);
    color: var(--accent-color);
    padding: 50px 0;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    .button-free{
        max-width: fit-content;
        padding: 8px 12px;
        background-color: var(--accent-color);
        color: var(--main-color);
        border-radius: 10px;
        font-size: 20px;
        text-decoration: none;
        border: 2px solid var(--accent-color);
        &:hover{
            background-color: var(--main-color);
            color: var(--accent-color);
            border: 2px solid var(--accent-color);
        }
    }
}