.quote{
    background-color: var(--secondary-color);
    margin-top: 30px;
    text-align: center;
    padding: 30px 0;
    .quote-text{
        font-size: 30px;
        color: var(--main-color);
        @include media-query-tablet(){
            font-size: 20px;
        };
        @include media-query-mobile(){
            font-size: 20px;
        }
    }
    .quote-author{
        font-size: 20px;
        color: var(--main-color);
    }
}

.img-quote{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 500px;
        @include media-query-tablet(){
            width: 400px;
        };
        @include media-query-mobile(){
            width: 300px;
        }
    }
}